.class1 {
    width: 500px;
    height: 150px;
    background: red;
}
.subtitle {
    font-weight: bold;
}
.infoBook {
    width: 30%;
    margin: 30px auto;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}
.hide {
    display: none;
}
.infoBook img {
    width: 100%;
}
.infoBook p {
    text-align: justify;
}
.container {
    width: 80%;
    margin: 30px auto;
}
.none {
    display: none;
}
